
body{
margin:auto;
	padding:0;
	font-family: 'Raleway', sans-serif;

	
}
.container-fluid{
	margin:5%;
	padding:3%;
	margin-top:0;
}

/*.fixed{
	position:fixed;
}
*/
.hh{
	
	font-weight:bolder;
	font-size: 20px;
	padding-top:4%;
}
.fixedContainer{
position: fixed;
}

.profile{
	    width: 20%;
	  
	    border-radius: 4px;
	    margin-top: -20px;

}

.links a{
  text-decoration: none;
  color:#000;
  padding:10px;
  margin-left: -19px;
}

.links li{
	  padding-top:1%;
	  margin:10px;
	
}

.links i{

}

.links{
	margin-left: -28px !important;
}

.mr {
	padding-right: 13px;
}

.links .success{
	color:#007965;
}



.hover:hover{
	background-color: #aaaaaa;
	color:#000;
	text-decoration:none;
}

.social{
	margin-top: 22px;
    margin-left: 6px;
}

.ml{
	  margin-left:-300px;
	  margin-top:-30px;
	 
}
.nav2{
	    padding-top: 24px;
}

.nav2 li{
	display:inline-block;
}

button{
	padding:10px 20px;
	border:none;
	background-color:	#e6e6e6;
}
span{
	font-weight:2px !important;
	padding-right: 15px;
}

.mr-2{
  font-size:2.4rem;
}

.all{
	background-color:#000;
	color:white;
}

button:active{
	border-radius:4px;
	border:2px solid black;
}

hr{
	height:10px;
	color: #aaaaaa;
}
.dis-img{}

.media:hover{
	opacity:0.60;
}
.dis-img:hover{
	opacity:0.60;
}

.aa{
	background-color: #f1f1f1!important;
}

.pagination{
   padding-left: 336px;
}

.description .pagination a{
	border:0;
	background-color: transparent;
	color:#000;
	font-size: 15px;
	padding:10px 17px;


}

.description .pagination{
	padding-left:500px;
}

.description .pagination  a:hover, .text{
	background-color: #000;
	color:#fff;
}

.description .pagination .text{
	background-color: #000;
	color:#fff;
}

.description .pagination .text:hover{
	color:#000;
	background-color: #dddddd;
}

.mtp{
	margin-top: 20px;

}

.container1{
	background-color: #4d4d4d;
	color:white;
	height:42px;
	text-align:center;
	padding-top: 12px;
}


.download:hover{
	color:#000;
	background-color: #dddddd;
}
.dml{
	    margin-left: -7px;
}

* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
  opacity:0.60;
}

.columns:hover{
	 opacity:1;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #009688;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
.button:hover{
	background-color:#000;
	text-decoration: none;
	color:#fff;
}

.contact{
	background-color:#9e9e9e!important;
}

.contact .contactde{
	background-color: #4d4d4d;
}

.input{
	width:97%;
	padding:10px;
	border:none;
}
.row .ho{
	color:#000;
	background-color: #dddddd;

}

footer{
	background-color: #616161!important;
}




@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
